<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ title }}! -->
  </h1>
</div>


<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navigation">
      <div class="topnav" routerLinkActive="active">
        <a routerLink="home"><img src="assets/images/Home_btn_off_Lego.png" width="32" class="nav-link" ></a>
        <a routerLink="videos"><img src="assets/images/Video_btn_off_Lego.png" width="32" class="nav-link"></a>
        <a routerLink="games"><img src="assets/images/Games_btn_off_Lego.png" width="32" class="nav-link"></a>
        <a routerLink="characters"><img src="assets/images/characters_btn_off_Lego.png" width="32" class="nav-link"></a>
        <a routerLink="sets"><img src="assets/images/btn_products_off_Lego.png" width="32" class="nav-link"></a>
        <div class="topnav-center">
          <img src="assets/images/stock-photo-lego.jpg" class="navbar-brand"  width="32" alt="Lego Logo"  routerLink="">
        </div>
      </div>
    </div>
    </div>
</nav>
