<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="32" alt="Lego Logo" src="assets/images/stock-photo-lego.jpg">
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Lego List</a>
    </div>
    <div class="topnav" routerLinkActive="active">
      <a class="nav-link" routerLink="home">Home</a>
      <a class="nav-link" routerLink="videos">Videos</a>
      <a class="nav-link" routerLink="games">Games</a>
      <a class="nav-link" routerLink="characters">Characters</a>
      <a class="nav-link" routerLink="sets">Sets</a>
    </div>
  </div>
</nav>
