<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ title }}! -->
  </h1>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="topnav" routerLinkActive="active">
      <img src="assets/images/Home_btn_off_Lego.png" width="32" class="nav-link" routerLink="home">
      <img src="assets/images/Video_btn_off_Lego.png" width="32" class="nav-link" routerLink="videos">
      <img src="assets/images/Games_btn_off_Lego.png" width="32" class="nav-link" routerLink="games">
      <img src="assets/images/characters_btn_off_Lego.png" width="32" class="nav-link" routerLink="characters">
      <img src="assets/images/btn_products_off_Lego.png" width="32" class="nav-link" routerLink="sets">

      <img src="assets/images/stock-photo-lego.jpg" width="32" alt="Lego Logo" class="navbar-brand" routerLink="">
    </div>
  </div>
</nav>
