<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="topnav" routerLinkActive="active">
      <div class="topnav-left">
        <a routerLink="home"><img src="assets/images/stock-photo-lego.jpg" class="navbar-brand"  width="52" alt="Lego Logo"></a>
      </div>
      <a routerLink="shop">Shop</a>
      <a routerLink="products">Products</a>
      <a routerLink="support">Support</a>
      <a routerLink="games_parents">Games</a>
      <a routerLink="legoLife">LEGO® LIFE</a>
      <div class="topnav-right">
        <a routerLink="home">FOR KIDS</a>
      </div>
    </div>
  </div>
</nav>
