body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.topnav {
  overflow: hidden;
  color: black;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: grey;
}

.topnav a.active {
  color: grey;
}

.topnav-right {
  float: right;
}

.carousel-item-1 {
  background-image: url('/assets/images/LEGO-DUPLO-50th-640x336.jpg');
  background-repeat: no-repeat;
  color: black;

}

.carousel-item-2 {
  background-image: url('/assets/images/LegoCitysets.jpeg');
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px black;
}

.carousel-item-3 {
  background-image: url('/assets/images/LegoDigitalWellbeing.jpeg');
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px black;
}

.carousel-item-4 {
  background-image: url('/assets/images/LegoCitySkyPolice.jpeg');
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px black;
}

.carousel-item-5 {
  background-image: url('/assets/images/LegoMovie2.jpg');
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px black;
}
