<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="welcome">Welcome Parents</a>
    </div>
    <div class="topnav" routerLinkActive="active">
      <img src="assets/images/stock-photo-lego.jpg" class="navbar-brand"  width="52" alt="Lego Logo">
      <a routerLink="shop">Shop</a>
      <a routerLink="products">Products</a>
      <a routerLink="support">Support</a>
      <a routerLink="games_parents">Games</a>
      <a routerLink="legoLife">LEGO® LIFE</a>
    </div>
  </div>
</nav>
